<!DOCTYPE html>
<html lang="es">
{% load static %}
<head>
    <meta charset="UTF-8">
    <title>Factorización</title>
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
</head>
<body>

<h2>Factorización</h2>

<div class="info-box">
    <h2>¿Qué es la factorización?</h2>
    <p>
        Es una técnica matemática que consiste en descomponer una expresión (número o polinomio)<br>
        en el producto de factores más simples que, al multiplicarse, producen la expresión original.
    </p><br>

    <h3>¿Cómo se resuelve?</h3>
    <p>
        Se identifican factores comunes o se utilizan métodos como el trinomio cuadrado perfecto,<br>
        diferencia de cuadrados o factorización de trinomios de la forma ax² + bx + c.
    </p>

    <p><strong>Ejemplo:</strong></p>
    <p>
        \(x² + 5x + 6 = (x + 2)(x + 3)\)
    </p><br>

    <img src="{% static 'img/imf.jpg' %}"
         alt="Ejemplo de factorización"
         class="figura-img">

    <h4>Imagen tomada de Matematicas profe Alex</h4><br>

    <p>
        🎥 Video explicativo:
        <a href="https://youtu.be/4bCKKe3mR08?si=cHt30mypkXofl6t5" target="_blank">
            Factorización – Matemáticas básicas
        </a>
    </p>
</div>

<p>Factoriza la expresión de la forma <strong>ax² + bx + c</strong></p>

<form method="POST">
    {% csrf_token %}

    <input type="number" step="any" name="a" placeholder="a" required>
    <input type="number" step="any" name="b" placeholder="b" required>
    <input type="number" step="any" name="c" placeholder="c" required>

    <button type="submit">Factorizar</button>
</form>

{% if resultado %}
    <h3>Resultado:</h3>
    <p>{{ resultado }}</p>
{% endif %}

{% if error %}
    <p style="color:red">{{ error }}</p>
{% endif %}

<br>
<br>
<br>
<a href="/">⬅ Regresar</a>
<br>
<br>
<br>
<br>
<br>

</body>
</html>
