
body {
    margin: 0;
    padding: 0;
    background: linear-gradient(135deg, #6f5bff, #487ca7, #4affe7);
    background-size: 300% 300%;
    animation: fondo 10s ease infinite;
    font-family: "Segoe UI", sans-serif;
    text-align: center;
    color: white;
}

@keyframes fondo {
    0% { background-position: 0% 50%; }
    50% { background-position: 100% 50%; }
    100% { background-position: 0% 50%; }
}

h1 {
    margin-top: 40px;
    font-size: 45px;
    font-weight: 800;
    text-shadow: 2px 2px 15px #000;
}

h2 {
    font-weight: 500;
    margin-bottom: 20px;
}


form {
    margin: 30px auto;
    background: rgba(255, 255, 255, 0.15);
    padding: 25px;
    width: 85%;
    max-width: 450px;
    border-radius: 15px;
    backdrop-filter: blur(8px);
    box-shadow: 0 4px 25px rgba(0,0,0,0.3);
}

input, select {
    width: 90%;
    padding: 12px;
    margin: 10px 0;
    border-radius: 10px;
    border: none;
    font-size: 16px;
    outline: none;
    text-align: center;
}

button {
    width: 90%;
    padding: 12px;
    margin-top: 10px;
    background: #00eaff;
    border: none;
    border-radius: 10px;
    color: #000;
    font-weight: bold;
    font-size: 18px;
    cursor: pointer;
    transition: 0.3s;
}

button:hover {
    background: #00bcd4;
    transform: scale(1.05);
}

.menu {
    margin-top: 40px;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(180px, 1fr));
    gap: 20px;
    width: 90%;
    margin-left: auto;
    margin-right: auto;
}

.menu a {
    padding: 20px;
    background: rgba(255,255,255,0.2);
    border-radius: 15px;
    font-size: 22px;
    color: white;
    text-decoration: none;
    transition: 0.3s;
    display: block;
}

.menu a:hover {
    background: rgba(255,255,255,0.5);
    transform: translateY(-5px);
}

.resultado-box {
    margin: 20px auto;
    padding: 20px;
    width: 85%;
    max-width: 400px;
    border-radius: 12px;
    background: rgba(0,0,0,0.3);
    color: #fff;
    backdrop-filter: blur(8px);
}

a {
    color: #fff;
    font-weight: bold;
    display: inline-block;
    margin-top: 15px;
    text-decoration: underline;
    transition: .3s;
}

a:hover {
    color: #ffe066;
    transform: scale(1.1);
}
