{% load static %}
<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <title>Proyecto CECYMATH 2.0</title>
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
</head>

<body>
<h1>Proyecto CECYMATH 2.0</h1>
<h2>Menú Principal</h2>

<div class="menu">
    <a href="/suma/">Suma</a>
    <a href="/resta/">Resta</a>
    <a href="/multiplicacion/">Multiplicación</a>
    <a href="/division/">División</a>
    <a href="/jerarquia/">Jerarquía de operaciones</a>
    <a href="/recta/">Recta Numérica</a>
    <a href="/polinomios/">Polinomios</a>
    <a href="/ecuaciones1/">Ecuaciones 1°</a>
    <a href="/ecuaciones2/">Ecuaciones 2°</a>
    <a href="/factorizacion/">Factorización</a>
    <a href="/areas/">Áreas y Perímetros</a>
</div>

</body>
</html>
