<!DOCTYPE html>
<html lang="es">
{% load static %}
<head>
    <meta charset="UTF-8">
    <title>Ecuaciones de Segundo Grado</title>
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
</head>
<body>

<h2>Ecuaciones de Segundo Grado</h2>

<div class="info-box">
    <h2>¿Qué son las ecuaciones de segundo grado?</h2>
    <p>
        Son ecuaciones algebraicas donde la variable aparece elevada al cuadrado.<br>
        Su forma general es: <strong>ax² + bx + c = 0</strong>, con <strong>a ≠ 0</strong>.
    </p><br>

    <h3>¿Cómo se resuelve?</h3>
    <p>
        Se resuelven usando la <strong>fórmula general</strong>, que permite encontrar dos soluciones<br>
        llamadas raíces de la ecuación.
    </p>

    <p><strong>Ejemplo:</strong></p>
    <p>
        \(x² - 5x + 6 = 0\)<br>
        \(x₁ = 2,\; x₂ = 3\)
    </p><br>

    <img src="{% static 'img/ime2.jpg' %}"
         alt="Ejemplo de ecuación de segundo grado"
         class="figura-img">

    <h4>Imagen tomada de Daniel Carreón</h4><br>

    <p>
        🎥 Video explicativo:  
        <a href="https://youtu.be/oXm9s1iFSpw?si=Uljs80Jci8SBVMIt" target="_blank">
            Ecuaciones de segundo grado – Daniel Carreón
        </a>
    </p>
</div>

<form method="POST">
    {% csrf_token %}

    <input type="number" step="any" name="a" placeholder="a" required>
    <input type="number" step="any" name="b" placeholder="b" required>
    <input type="number" step="any" name="c" placeholder="c" required>

    <button type="submit">Calcular</button>
</form>

{% if x1 != None %}
    <h3>Resultado:</h3>
    <p>x₁ = {{ x1 }}</p>
    <p>x₂ = {{ x2 }}</p>
{% endif %}

{% if error %}
    <p style="color:red">{{ error }}</p>
{% endif %}

<br>
<br>
<br>
<a href="/">⬅ Regresar</a>
<br>
<br>
<br>
<br>
<br>

</body>
</html>
